* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  --letterBack: #6c85d7;
  --mainBlueBackground: rgb(0, 0, 255);
  --letterFront: black;
  --largeFontSize: clamp(1rem, 0.75rem + 3.5vw, 4rem);
  --MiddleFontSize: clamp(1rem, 0.75rem + 2vw, 2.5rem);
  --MiddleMinusFontSize: clamp(1rem, 0.75rem + 1.6vw, 2.2rem);
  --SmallFontSize: clamp(0.7rem, 0.55rem + 2vw, 1.5rem);
  --OsvaldFont: "Oswald", sans-serif;
  --InterFont: "Inter", serif;

  width: 100vw;
  font-family: "Kanit", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  max-inline-size: 66ch;
}

*::selection {
  background: black;
  color: white;
}

img {
  object-fit: cover;
  object-position: top left;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  width: 0;
}

::-webkit-scrollbar-thumb {
  top: 0;
  border-radius: 10px;
  background: #2671c6;
}

::-webkit-scrollbar-thumb:hover {
  background: #013cff;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.meSection {
  position: relative;
  font-weight: 900;
  line-height: 1.4;
  text-transform: uppercase;
  width: fit-content;
  overflow: hidden;
  visibility: hidden;
  font-size: var(--largeFontSize);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transform: translateX(-100%);
  background: #004aff;
  color: #004aff;
}

.hovered {
  background: black !important;
}

.ball {
  background: blue;
  position: absolute;
  left: 78%;
  margin-top: -7rem;
  width: 100px;
  height: 100px;
  opacity: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: ring 4s 0.7s ease-in-out infinite;
  transform-origin: 50% 4px;
}

path {
  stroke: gray;
}

svg {
  overflow: visible;
}
