.flexNavigation {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 2rem 2rem;
  margin-right: 2vw;
  position: sticky;
}

.background {
  position: relative;
  height: 100%;
  width: 100%;
}

.someBackCaption {
  position: relative;
}

@keyframes menu_rotate {
  to {
    transform: rotate(360deg);
  }
}

.navigation_links {
  display: flex;
  gap: 4vw;
  row-gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.otherLetters {
  display: inline-block;
  max-height: 10px;
  overflow: auto;
}

.animatedLetter {
  display: inline-block;
  width: fit-content;
  opacity: 1;
  z-index: 100;
  color: var(--letterFront);
}

.animatedLetterTop {
  animation: 0.2s ease-out fallTop;
}

.animatedLetterBottom {
  animation: 0.6s ease-out fall;
}

@keyframes fallTop {
  0% {
    transform: scale(1.4) translate3d(-10%, -10%, -10rem);
  }
  100% {
    transform: scale(0.9) translate3d(0, 0, 0);
  }
}

@keyframes fall {
  0% {
    transform: scale(1.4) translate3d(-10%, -10%, 10rem);
  }
  100% {
    transform: scale(0.9) translate3d(0, 0, 0);
  }
}

.nav_link {
  padding: 0.8rem 1rem;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  color: black;
  z-index: 10;
}

.nav_link:hover {
  color: black;
  box-shadow: 0 10px 30px 0px rgba(144, 159, 255, 0.73);
}

.button {
  display: inline-block;
  min-height: 55px;
  z-index: 1;
  backdrop-filter: blur(2px);
  padding: 0.8rem 1rem;
  height: fit-content;
  border: 2px solid black;
  background: black;
  color: white;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button:hover {
  background: rgb(255, 255, 255);
  color: black;
}

.someBack {
  position: absolute;
  transform: scale(12) rotate(-40deg);
  top: 40vh;
  left: 18vw;
  width: 200px;
  background: linear-gradient(45deg, rgb(89, 87, 122), rgb(255, 0, 90) 100%);
  background-size: 100%, 90px 10px;
  -webkit-background-clip: text;
  text-shadow: 0.1px 0.1px 0 var(--letterBack), 0.2px 0.2px 0 var(--letterBack),
    0.3px 0.3px 0 var(--letterBack), 0.4px 0.5px 0 var(--letterBack),
    0.5px 0.7px 0 var(--letterBack), 0.6px 0.9px 0 var(--letterBack),
    0.7px 1.1px 0 var(--letterBack), 0.8px 1.3px 0 var(--letterBack),
    0.9px 1.5px 0 var(--letterBack);
}

.smallBackCaption {
  position: absolute;
  transform: scale(7) rotate(-40deg) perspective(300px) translate3d(0, 0, 0rem);
  left: 80vw;
  top: 15vh;
  display: block;
  width: 90px;
  height: 70px;
  word-wrap: break-word;
  background: linear-gradient(45deg, rgb(89, 87, 122), rgb(255, 0, 90) 100%);
  -webkit-background-clip: text;
  animation: 0.6s ease-in-out 2s shadow forwards;

}

@keyframes shadow {
  from {
    text-shadow: none;
  }
  to {
    transform: scale(7) rotate(-40deg) perspective(300px)
      translate3d(0, 0, 2rem);
    text-shadow: 0.1px 0.1px 0 var(--letterBack),
      0.2px 0.2px 0 var(--letterBack), 0.3px 0.3px 0 var(--letterBack),
      0.4px 0.5px 0 var(--letterBack), 0.5px 0.7px 0 var(--letterBack),
      0.6px 0.9px 0 var(--letterBack), 0.7px 1.1px 0 var(--letterBack),
      0.8px 1.3px 0 var(--letterBack), 0.9px 1.5px 0 var(--letterBack);
  }
}

.smallBackCaption2 {
  position: absolute;
  transform: scale(3) rotate(30deg) rotate3d(1, -1, 0, -56deg);
  left: 85vw;
  top: 45vh;
  width: 100px;
  background: linear-gradient(45deg, rgb(89, 87, 122), rgb(255, 0, 90) 100%);
  -webkit-transform-style: preserve-3d;

  -webkit-background-clip: text;
}

.smallBackCaption3 {
  position: absolute;
  transform: scale(2) rotate(-40deg) translate3d(0, 0, -2rem)
    rotate3d(1, 0, 0, -50deg) rotate3d(0, 1, 0, -30deg);
  -webkit-transform-style: preserve-3d;

  left: 15vw;
  top: 75vh;
  background: linear-gradient(45deg, rgb(89, 87, 122), rgb(255, 0, 90) 100%);
  -webkit-background-clip: text;
}

.backBall {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  right: 15%;
  top: 70%;
  z-index: 1;
  background: linear-gradient(
    45deg,
    rgba(89, 87, 122, 0.63),
    rgba(255, 0, 90, 0.68) 100%
  );
  color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption {
  display: grid;
  height: 180px;
  gap: 2vw;
  row-gap: 2rem;
  width: 400px;
  max-width: 90vw;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.back {
  background: linear-gradient(
    45deg,
    rgba(89, 87, 122, 0.26),
    rgba(255, 0, 90, 0.25) 100%
  );
  color: rgb(0, 0, 0);
}

.borders {
  max-width: 90vw;
  width: 600px;
  background: url("/static/images/runningBack.png"),
    url("/static/images/runningBack.png"), url("/static/images/runningBack.png"),
    url("/static/images/runningBack.png");
  background-size: 90px 10px;
  background-position: 0px 0px, 0px 5%, 0px 100%, 0px 95%;
  background-repeat: repeat-x;
  animation: 3s linear border-dance infinite;
  padding: 70px 0;
}

@keyframes border-dance {
  from {
    background-position: 0px 0px, 0px 5%, 0px 100%, 0px 95%;
  }
  to {
    background-position: 270px 0px, 270px 5%, -270px 100%, -270px 95%;
  }
}

.caption :nth-child(1) {
  align-self: start;
}

.caption :nth-child(2) {
  align-self: center;
}

.caption :nth-child(3) {
  align-self: end;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 2rem 0 0;
}


html body .inViewport {
  /*opacity: 1;*/
  animation: inview 0.325s ease-in-out forwards,
    opacity 0.9s ease-in-out 0.1s forwards;
}

html body .inViewportHeadingAnimation {
  /*opacity: 1;*/
  animation: opacity 0.9s ease-in-out 1.4s forwards;
  /*animation: headingAnimation .325s ease-in-out forwards, opacity .9s ease-in-out .1s forwards;*/
}

html body .inViewportHeadingAnimation:after {
  opacity: 1;
  animation: headingAnimationStart 0.225s ease-in-out 1s forwards,
    headingAnimation 0.225s ease-in-out 2s forwards;
}

.temp {
  animation: headingAnimationStart 0.225s ease-in-out forwards,
    headingAnimation 0.225s ease-in-out forwards;
}

@keyframes an {
  from {
    visibility: visible;
    transform: translateX(-100%);
  }
  to {
    visibility: visible;
    transform: translateX(0%);
  }
}

@keyframes headingAnimation {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(104%);
  }
}

@keyframes headingAnimationStart {
  from {
    visibility: visible;
    transform: translateX(-100%);
  }
  to {
    visibility: visible;
    transform: translateX(0px);
  }
}

@keyframes opacity {
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes inview {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(0);
  }
}

.footer {
  margin-top: 2rem;
  height: 60px;
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 0.8rem;
}

.footer a {
  line-height: 1;
  font-size: 1rem;
  display: inline-block;
}

.footer a svg {
  height: 1em;
  width: 1em;
  vertical-align: top;
}

@media (max-width: 1000px) {
  .smallBackCaption {
    left: 30vw;
  }

  .smallBackCaption2 {
    left: 105vw;
    top: 30vh;
  }

  .navigation_links {
    position: relative;
    right: -1rem;
    flex-direction: column;
    align-items: flex-end;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20vw;
}
