
.about
  font-size: var(--MiddleFontSize)
  background: #004aff
  display: flex
  color: white
  position: relative
  margin-left: auto
  text-transform: uppercase
  width: 80vw
  min-width: 400px
  min-height: 600px
  height: fit-content
  padding: 5vw 0 7vw 10vw
  opacity: 0
  font-family: var(--OsvaldFont)



  & div
    left: 0
    top: 5vw
    left: 10vw

  & h3 
    color: black
    font-size: 2rem
    font-weight: 400
  & p
    transition: opacity 1s
    line-height: 1.2
    width: 90%
    font-size: var(--MiddleMinusFontSize)






.marginTop
  margin-top: 25rem

.sectionName
  position: relative
  display: block
  width: fit-content
  margin-bottom: 2rem

.sectionName:after
  position: absolute
  content: ""
  bottom: -1.5rem
  left: 0
  width: 100%
  max-width: 300px
  border-bottom: grey 1px solid
